html {	
	color: black;
}

body {
	margin: 0 auto;
	width: 100%:
}

header {	
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid black;
}

footer {	
	text-align: center;
	clear: both;
	padding: 5px;
	border: 1px solid black;
}

span#testspan27 {
	vertical-align: text-top;
	outline-color: green;
	outline-style: solid;
	font-size: 150%;
}

p#columnedp27 {
	-webkit-column-count: 10;
	-webkit-column-width: 10%;
	-moz-column-count: 10;
	-moz-column-width: 10%;
	column-count:10;
	column-width: 10%;
}
