body {
	background-color: black;
	color: white;
}

@media screen and (max-width: 500px) and (orientation: portrait){
	body{
		background-color: green;
		font-size: 120%;
	}
}

@media screen and (orientation: landscape) and (max-width: 650px){
	body{
		font-size: 150%;
		background-color: red;
	}
}